[Desktop Entry]
Name=Mail
Comment=Lightweight email client
TryExec=pantheon-mail
Exec=pantheon-mail --hidden
Icon=internet-mail
Keywords=Email;E-mail;Mail;
Type=Application
Terminal=false
Categories=GNOME;GTK;Network;Email;
StartupNotify=true
NoDisplay=true
